form {
  padding: 20px;
  max-width: 800px;
}

.form-label {
  padding-top: 8px;
}

.error-message {
  margin-left: 10px;
  color: red;
  font-size: 12px;
}

.success-message {
  color: green;
  font-size: 12px;
}

h1 {
  text-align: center;
}

input, select {
  margin-bottom: 10px;
}

.card{
min-width: 270px;
display: block;
}
