
.button-container{
    margin-top: 1rem;
}
h1{
    margin-bottom: 0;
    white-space: nowrap;
    text-align: left;
    color: #2c3238;
    font-size: 2rem;
    font-weight: 700;
    font-family:'Roboto Condensed', sans-serif;
}

label{
    margin-bottom: 0;
    white-space: nowrap;
    text-align: left;
    color: #2c3238;
    font-size: 1rem;
    font-family:'Roboto Condensed', sans-serif;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.error-message {
    color: red;
    font-size: 12px;
  }