<div class="spaced-sides">
  <div class="row">
    <div class="col-4">
      <app-student-list></app-student-list>
    </div>
    <div class="col-5">
      <ng-container *ngIf="(editOrCreateForm$ | async); then showStudentEditForm; else showStudentAddForm">
      </ng-container>
    </div>
    <div class="col-3">
      <app-stream-list></app-stream-list>
    </div>
  </div>
</div>

<ng-template #showStudentAddForm>
  <app-student-form [isEditView]="false"></app-student-form>
</ng-template>

<ng-template #showStudentEditForm>
  <app-student-form [isEditView]="true"></app-student-form>
</ng-template>
