.form-label {
  margin-bottom: 5px;
  font-size: 18px;
  color:  #212529;
  font-family: 'Roboto Condensed', sans-serif;
}

.error-message {
  color: red;
  font-size: 12px;
}

.success-message {
  color: green;
  font-size: 12px;
}

h1 {
  color: #212529;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

input {
  margin-bottom: 20px;
}

input[type="file"] {
  width: 100px;
}

.required-text{
  text-align: right;
  display:block;
  width: 100%;
  color: rgb(151, 151, 151);
}

.close-button{
  cursor: pointer;
  text-align: right;
  margin-bottom: 0;
  font-size: 18px;
  color:  #212529;
  font-family: 'Roboto Condensed', sans-serif;
}

img{
  aspect-ratio: 1;
  position:relative;
  top: -20px;
  border-radius: 50%;
}
.bi-x-circle{
  margin-left: 110px;
  color: #b52f2f;
}

.bi .bi-x {
  font-size: 30px;
}

.bi{
  cursor: pointer;
}
.icons{
  font-size: 20px;
}
