<div *ngIf="this.student" class="mt-5 shadow bg-white rounded">
  <div class="d-flex justify-content-between">
    <img class="m-4"src="{{student.pictureUrl}}" style="border-radius:50%;" width="300" height="300">
    <div class="">
      <div class="mt-4">            
        <h1>{{student.firstName}}</h1>
        <h1>{{student.lastName}}</h1>
      </div>
      <div class="pt-5">
          <h2>Occupation: {{student.occupation}}</h2>
          <h2 class="pt-3">Direction: {{student.direction}}</h2>
      </div>
    </div>  
    <div class="m-4">
      <app-radar-chart [data]="averages"></app-radar-chart>
    </div>
  </div>
</div>

