<h1>Student list</h1>
<div class="list-group"> 
  <button class="btn btn-sm btn-outline-success mb-4" (click)="onCreate()">Create new Student</button>
</div>
<div class="list-group" *ngFor="let student of students$ | async">
  <a class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ student.firstName}} {{student.lastName }}</h5>
      <small>Id: {{ student.id }}</small>
    </div>
    <br>
    <p class="mb-1"><b>Current occupation:</b> {{ student.occupation }}</p>
    <p class="mb-1"><b>Direction:</b> {{ student.direction }}</p>
    <div class="container justify-content-left"><button type="button" class="btn btn-outline-danger btn-sm mr-0 ml-auto d-block"   (click)="deleteStudent(student.id)">delete</button></div>
  </a>
  <button class="btn btn-sm btn-outline-warning" (click)="onEdit(student)">Edit</button>
</div>