
img{
  border-radius: 50%;
  margin-right: 20px;
}

.student-info{
  padding-top: 20px;
  max-width: 532px;
  min-width: 260px;
  width: 100%;
}

label{
  margin-bottom: 0;
  text-align: left;
  color: #212529;
  font-size: 1.2rem;
  font-family:'Roboto Condensed', sans-serif;
}

.alert{
  padding: 6px;
  padding-left: 12px;
}

h2{
  margin-bottom: 0;
  text-align: left;
  color: #212529;
  font-size: 1rem;

  font-family:'Roboto Condensed', sans-serif;
}

textarea {
  margin-right: 1vw;
}

.remaining-text {
  text-align: right;
  color: rgb(95, 95, 95);
  font-size: 12px;
}
