form {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 20px;
  background: rgb(252, 252, 252);
}

.container {
  padding: 0;
}

.form-label {
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 12px;
}

.success-message {
  color: green;
  font-size: 12px;
}

textarea {
  resize: none;
}

.top-margin {
  margin-top: 20px;

}

.remaining-text {
  color: rgb(95, 95, 95);
  font-size: 12px;
}

.range-value-left {
  margin-right: 10px;
  font-size: 20px;
}

.range-value-right {
  margin-left: 10px;
  font-size: 20px;
}

.range-wrap {
  margin-bottom: 10px;
}

img {
  padding-top: 20px;
}

.comment-rating-block .row {
  padding-right: 0;
}

.submit-area {
  padding: 0;
}

.range {
  width: 150px;
}

@media only screen and (max-width: 600px) {
  .mobile {
    display: flex;
    flex-direction: column;
  }

  select {
    width: 310px;
  }
}
