.h1 {
  padding-left: 20px;
}

.review-form {
  max-width: 800px;
  margin: auto;
  padding-top:2vw;
}

.align-left{
  margin-left:auto!important;
}
.nav-button{
  cursor: pointer;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: aliceblue;
}
.logo-web{
  width: 24px;
}