.manager-page {
  padding:2vw;
  max-width: 800px;
  margin: 0 auto;
}
.btn{
  color: aliceblue;
  cursor: pointer;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:hover{
  background-color: rgb(66, 66, 66);
  border-color: rgb(21, 25, 29);
  color: rgb(172, 172, 172);
 }

.btn-primary {
  background-color: rgb(21, 25, 29);
  border-color: rgb(21, 25, 29);
  color: rgb(172, 172, 172);
  margin: 10px;
 }
