<nav class="navbar sticky-top navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto"> 
        <li>
    <button *ngIf="!isInListView " class="btn btn" (click)="onBack()" >
        <i class="bi bi-caret-left-fill">Back</i>
    </button>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto"> 
        <li><button (click)="logout()" class="btn btn-primary btn-sm"><i class="bi bi-box-arrow-in-right">  Logout</i></button></li>
    </ul>
</nav>
<div class="manager-page">
    <div *ngIf="isInListView; else studentStatistics">
        <app-student-list [isAdminView] = "false"></app-student-list>
    </div>
</div>
<ng-template #studentStatistics>
    <app-student-card></app-student-card>
</ng-template>