 .spacer {
   flex-grow: 1;
}
.input-group {
  padding-top: 40px;
}

.list-group-item {
  display: flex;
  align-items: center;
}

ul :hover {
  background : rgb(245, 245, 245);
}

#form-group {
  display: block
}

.error-message {
  color: red;
  font-size: 12px;
}
