.card {
    width: 800px;
  }
  
  .center-content {
    display: flex;
    justify-content: center;
  }
  
  .form-label {
    padding: 8px 0 0 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    margin-bottom: 10px;
  }
  
  span {
    color: red;
  }
  