.mr-0 {
  margin-right: 0;
}

.ml-auto {
  margin-left:auto;
}

.mb-1 {
  display: flex;
  align-items: center;
}

.btn-primary{
  margin-top: 40px;
}

.d-block {
  display:block;
}

.btn-outline-primary{
  height: 38px;
}

.divider{
  width:15px;
  height:auto;
  display:inline-block;
}
