.mr-0 {
  margin-right: 0;
}

.ml-auto {
  margin-left:auto;
}

.mb-1 {
  display: flex;
  align-items: center;
}

.btn-primary{
  margin-top: 40px;
}

.d-block {
  display:block;
}

.btn-outline-primary{
  height: 38px;
}

.divider{
  width:15px;
  height:auto;
  display:inline-block;
}

.list-group-item{
  cursor: pointer;
}
h2{
  margin-bottom: 0;
  font-size: 18px;
  color:  #212529;
  font-family: 'Roboto Condensed', sans-serif;
}
h1{
  color: #212529;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.list-group-item{
  text-align: left;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 20px ;
  color: black;
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}

.custom-dialog-container .mat-dialog-container {
  overflow-y: hidden !important;
}
