<div *ngIf="(students$ |async)?.length === 0; else studentList">
  <h1>
    No students in the list
  </h1>
</div>
<ng-template #studentList>
  <h1>
    Student List
  </h1>
</ng-template>
<div class="list-group">
  <button *ngIf="isAdminView" class="btn btn-sm btn-outline-primary mb-4" (click)="onCreate()" (click)="openDialog(false)">Create new Student</button>
</div>
<div class="list-group" >
  <a class="list-group-item " *ngFor="let student of (students$ | async)?.reverse()" aria-current="true" (click)="onChoose(student.id)">
    <div class="d-flex w-100 justify-content-between">
      <h2>{{ student.firstName}} {{student.lastName }}</h2>
      <div *ngIf="isAdminView" class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteStudent(student.id)">Delete</button>
        <div class="divider"></div>
        <button class="btn btn-sm btn-outline-warning" (click)="onEdit(student)" (click)="openDialog(true)" >Edit</button>
      </div>
    </div>
  </a>
</div>
