<div *ngIf="students.length === 0; else studentList">
  <h1>
    No students in the list
  </h1>
</div>
<ng-template #studentList>
  <h1>
    Student List
  </h1>
</ng-template>
<div class="list-group m-0">
  <button *ngIf="isAdminView" class="btn btn-sm btn-primary mt-0 mb-3" (click)="onCreate()" (click)="openDialog(false)">Create new Student</button>
</div>
<div class="list-group" >
  <a class="list-group-item" [ngClass]="{'pt-2 pb-2': isAdminView}" *ngFor="let student of students" aria-current="true" >
    <div class="d-flex w-100 justify-content-between align-items-center">
      <div class="student" (click)="onChoose(student.id)" (click)="onEdit(student)" (click)="openDialog(true)">
        <h2>{{ student.firstName}} {{student.lastName }}</h2>
      </div>
      <div *ngIf="isAdminView" class="d-flex flex-row-reverse">
        <i class="bi bi-x-circle" (click)="deleteStudent(student.id)"></i>
      </div>
    </div>
  </a>
</div>
